{% extends "exams/base.html" %}
    
    {% block content %}
    {% load static %}

    <!-- MEMBERSHIP CARDS SECTION -->
    <main>
        <section class="section membership__Card__Section" id="Membershipcard__sec">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-12 col-md-8 col-lg-3 mx-auto membership__Card">
                        <div class="memberCard__inner__1">
                            <h4>Essentials</h4>
                            <h2>&#36;<span>10</span>/mo</h2>
                            <h6>All the features plan</h6>
                        </div>
                        <div class="memberCard__inner__2">
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Max Test Trial</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Max Test Trial</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                        </div>
                        <div class="memberCard__inner__3">
                            <a href="#">Get Started</a>
                        </div>
                    </div>

                    <div class="col col-sm-12 col-md-8 col-lg-3 mx-auto membership__Card highlightedCARD">
                        <div class="memberCard__inner__1">
                            <h4>Moderate Features</h4>
                            <h2>&#36;<span>15</span>/mo</h2>
                            <h6>All the features plan</h6>
                        </div>
                        <div class="memberCard__inner__2">
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Max Test Trial</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                        </div>
                        <div class="memberCard__inner__3">
                            <a href="#">Get Started</a>
                        </div>
                    </div>

                    <div class="col col-sm-12 col-md-8 col-lg-3 mx-auto membership__Card">
                        <div class="memberCard__inner__1">
                            <h4>Advanced Features</h4>
                            <h2>&#36;<span>20</span>/mo</h2>
                            <h6>All the features plan</h6>
                        </div>
                        <div class="memberCard__inner__2">
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Max Test Trial</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                            <p>
                                <ion-icon name="checkmark-circle" class="IonIconCheck"></ion-icon>
                                <span>Enter Your offers</span>
                            </p>
                        </div>
                        <div class="memberCard__inner__3">
                            <a href="#">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

{% endblock %}